<h1>Rounds#new</h1>
<p>Find me in app/views/rounds/new.html.erb</p>

<%= flash[:notice] %>

<%= form_tag :rounds, method: 'post' do %>
	<%= text_field :round,:tournament_id, :type => 'hidden', :value => params[:tournament_id] %>
	<%= content_tag :div, :class => 'form-group' do %>
		<%= label :round,:name %>
		<%= text_field :round, :name %>
	<% end %>
	<%= content_tag :div, :class => 'form-group' do %>
		<%= label :round, :round_type %>
		<%= text_field :round, :round_type %>
	<% end %>
	<%= content_tag :div, :class => 'form-group' do %>
		<%= label :round, :order %>
		<%= text_field :round, :order %>
	<% end %>
	<%= submit_tag "Add new round" %>
<% end %>
