<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% @user = User.find params[:id] %>

<%= form_tag "/users/#{params[:id]}", method: "put" do %>
	<%= content_tag :div, :class => "form-group" do %>
		<%= label :user, :name %>
		<%= text_field :user, :name %>
	<% end %>
	<%= content_tag :div, :class => "form-group" do %>
		<%= label :user, :surname %>
		<%= text_field :user, :surname %>
	<% end %>
	<%= content_tag :div, :class => "form-group" do %>
		<%= label :user, :email %>
		<%= text_field :user, :email %>
	<% end %>
	<%= content_tag :div, :class => "form-group" do %>
		<%= label :user, :photo %>
		<%= text_field :user, :photo %>
	<% end %>
	<%= submit_tag "Save changes" %>
<% end %>