<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>id: <%= @user.id %></p>
<p>name: <%= @user.name %></p>
<p>surname: <%= @user.surname %></p>
<p>email: <%= @user.email %></p>
<p>photo: <%= @user.photo %></p>
<p>rang: <%= @user.rang %></p>